<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.modules.contact.mapper.GroupContactMapper">

    <resultMap id="BaseResultMap" type="org.com.modules.contact.domain.entity.GroupContact">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <id property="groupId" column="group_id" jdbcType="BIGINT"/>
            <id property="sessionId" column="session_id" jdbcType="BIGINT"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
            <result property="joinTime" column="join_time" jdbcType="TIMESTAMP"/>
            <result property="lastActive" column="last_active" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,group_id,session_id,role,join_time,last_active
    </sql>
</mapper>
