<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.modules.contact.mapper.SessionMapper">

    <resultMap id="BaseResultMap" type="org.com.modules.contact.domain.entity.Session">
            <id property="sessionId" column="session_id" jdbcType="BIGINT"/>
            <result property="sessionType" column="session_type" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="extJson" column="ext_json" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        session_id,session_type,last_msg_id,last_msg_content,last_msg_time,version,
        is_deleted,created_at,updated_at,ext_json
    </sql>
</mapper>
